<button mat-button color="primary" [routerLink]="['/lista-cliente']" >Listar Clientes</button>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text" [(ngModel)]="cliente.nome">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput type="text" [(ngModel)]="cliente.cpf">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rua</mat-label>
    <input matInput type="text" [(ngModel)]="cliente.endereco.rua">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Lote</mat-label>
    <input matInput type="text" [(ngModel)]="cliente.endereco.lote">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CEP</mat-label>
    <input matInput type="text" [(ngModel)]="cliente.endereco.cep">
  </mat-form-field>

  <button mat-button color="primary" (click)="atualizarCliente()" class="buttonAtualiza">
    {{'Atualizar Cliente'}}
  </button>
</div>
