h2 {
  text-align: center;
  padding-top: 3em;
}

mat-card {
  // width: 30em;
  // height: 20em;
  padding: 10em;
}

mat-card-title {
  margin-bottom: 3em;
}

button {
  margin-left: 5em;
  margin-bottom: 2em;
  border: 0 !important;
  background-color: white;
}

// mat-grid-tile{
//   text-align: center !important;

// }
