.mat-card {
  text-align: center;
}

mat-card {
  margin-left: 20em;
  width: 60%;
  margin-top: 3em;
  margin-bottom: 3em;

}

mat-form-field {
  margin: 10px;
}

button {
  font-size: large;
  background-color: rgb(247, 247, 247);
}

.listar {
  float: right;
  margin-right: 1em;
}
