.mat-card {
  text-align: center;
}

.dadosPessoais {
  width: 90%;
  display: flex;
  margin: 2em;
}

.dadosPessoais .left {
  width: 50%;
  margin-right: 2em;
  margin-left: 6em;
  float: left;
}

.dadosPessoais .right {
  width: 50%;
}

.dadosPessoais mat-form-field {
  width: 70%;
}

.right mat-card {
  height: 100%;
}

.seguros {
  width: 90%;
}

.seguros mat-card {
  width: 100%;
  margin-left: 6em;
}

.seguros mat-form-field {
  width: 30%;
}

 mat-form-field {
   margin: 10px;
 }

button {
  font-size: large;
}

.listar {
  float: right;
  margin-bottom: 2em;
  margin-right: 1em;
}

.buttonCadastro {
  margin-top: 2em;
  margin-bottom: 1em;
}
