<button mat-button color="primary" class="listar" [routerLink]="['/lista-usuario']" >Listar Usuários</button>

<div class="mat-card" fxLayout="column">
  <mat-card class="dadosPessoais">
    <h2>Dados Pessoais</h2>
    <mat-card-content>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput type="text" [(ngModel)]="usuario.nome">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput type="text" [(ngModel)]="usuario.cpf">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Endereço</h2>
    <mat-card-content>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Rua</mat-label>
          <input matInput type="text" [(ngModel)]="usuario.endereco.rua">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Lote</mat-label>
          <input matInput type="text" [(ngModel)]="usuario.endereco.lote">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput type="text" [(ngModel)]="usuario.endereco.cep">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <button mat-button color="primary" (click)="cadastrarUsuario()" class="buttonCadastro">
    {{'Incluir Usuario'}}
  </button>
</div>
