<button mat-button color="primary" [routerLink]="['/lista-usuario']" >Listar Usuários</button>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text" [(ngModel)]="usuario.nome">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput type="text" [(ngModel)]="usuario.cpf">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rua</mat-label>
    <input matInput type="text" [(ngModel)]="usuario.endereco.rua">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Lote</mat-label>
    <input matInput type="text" [(ngModel)]="usuario.endereco.lote">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CEP</mat-label>
    <input matInput type="text" [(ngModel)]="usuario.endereco.cep">
  </mat-form-field>

  <button mat-button color="primary" (click)="cadastrarUsuario()" class="buttonCadastro">
    {{'Incluir Usuario'}}
  </button>
</div>
